#database
godump.db.host=
godump.db.port=
godump.db.user=
godump.db.password=
godump.db.name=
godump.db.ssl=

#mail
godump.mail.host=
godump.mail.port=
godump.mail.user=
godump.mail.password=
godump.mail.secure=
godump.mail.send=

#job
godump.job.interval.file=
godump.job.interval.mail=

